body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.iframe {
  display: none;
}
.sg-Btn {
  content: "";
  right: 8px;
  background-image: url(../sg/img//Icon-arrowRight--text.svg);
  background-repeat: no-repeat;
  right: 5px;
}
