.App {
  font-family: sans-serif;
  text-align: center;
}
.iframe {
  display: none;
}

.sg-Btn {
  float: right;
  content: "";
  background-repeat: no-repeat;
  right: 5px;
}
.sg-Btn-sec {
  color: #478081;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 7px;
  position: relative;
  -left: 49.5px;
  border: 1px solid #478081;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: 0.8em;
  font-size: 100%;
  /* height: 50px; */
  display: inline-block;
  min-width: 2.7em;
  padding: 0.7em;
  margin: 5px 0 5px 0;
  font-size: 110%;
  font-weight: bold;
  line-height: 1.21;
  border: 1px solid #478081;
  color: #096e6e;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: middle;
  background-color: #ffffff;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sg-Btn-image {
  background-image: url(https://super.suncorp.com.au/ssp//sg/img//Icon-plus--secondary.svg);
  background-repeat: no-repeat;
}
.sg-call-to-action {
  content: "";
  right: 8px;
  background-image: url(https://super.suncorp.com.au/ssp/sg/img//Icon-arrowRight--text.svg);
  background-repeat: no-repeat;
}
.sg-main {
  background-color: #f5f3f1;
}

.sg-focus {
  font-weight: bold;
}
.sg-Radio-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.sg-Radio-btn {
  margin: 0 15px 15px 0;
}
.marginTopZero {
  margin-top: 0 !important;
}

.sg-Radio-btn {
  margin: 0 15px 15px 0;
}
.sg-Radio,
.sg-Check {
  display: inline-block;
  margin: 0 10px 10px 0;
  position: relative;
}

.sg-Radio-input,
.sg-Check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.sg-Radio-btn .sg-Radio-input:not(:disabled):checked ~ .sg-Radio-text {
  border-color: #00928a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}

.sg-Radio-btn .sg-Radio-input:not(:disabled):checked ~ .sg-Radio-text {
  background: #00928a;
  border-color: #004642;
  -webkit-box-shadow: inset 1.5px 1.5px #004642;
  -moz-box-shadow: inset 1.5px 1.5px #004642;
  box-shadow: inset 1.5px 1.5px #004642;
  color: #ffffff;
}

.sg-Radio-btn .sg-Radio-input ~ .sg-Radio-text {
  background-color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.sg-Radio-btnGroup .sg-Radio-btn .sg-Radio-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.sg-Radio-btn .sg-Radio-input ~ .sg-Radio-text {
  min-width: 2.7em;
  padding: 0.7em;
  font-size: 110%;
  line-height: 1.21;
  border: solid 1px #e0d9d3;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  background-color: #f5f3f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.sg-Radio-text,
.sg-Check-text {
  display: inline-block;
  position: relative;
  padding-left: 1.9em;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.4;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sg-Form-helpText {
  margin-bottom: 5px;
  font-size: 0.84em;
  font-size: 0.756rem;
  color: rgba(0, 0, 0, 0.6);
}
.sg-Form-helpText {
  color: #656363;
}

.sg-Form-label {
  display: inline-block;
  margin: 0 0 5px 0;
  cursor: pointer;
  font-size: 1.12em;
  font-size: 1.008rem;
  font-weight: bold;
  color: #004346;
}
.sg-Input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sg-Input {
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  -moz-transition: -moz-box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.sg-Input {
  display: block;
  width: 100%;
  min-width: 4em;
  padding: 10px;
  margin: 0 0 5px 0;
  color: #000000;
  vertical-align: middle;
  font-size: 1.12em;
  font-size: 1.008rem;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cdcbc3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.sg-u-widthLarger {
  width: 100%;
  max-width: 20em;
}

.sg-Accordion .sg-Accordion-label:hover {
  cursor: pointer;
  text-decoration: underline;
}
.sg-Accordion-label {
  position: relative;
  display: block;
  padding: 0 0 0 34px;
  width: 100%;
  text-align: left;
  border-width: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  color: #478081;
  background-color: transparent;
}

.sg-Btn.sg-Btn--iconLeftMedium > .sg-Btn-icon {
  position: absolute;
  top: 50%;
  left: 7.5px;
  right: 10px;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-repeat: no-repeat;
  -moz-background-size: 32px;
  -o-background-size: 32px;
  background-size: 32px;
}
.Icon-plus--secondary {
  background-image: url(https://super.suncorp.com.au/ssp/sg/img/Icon-plus--secondary.svg);
  background-repeat: no-repeat;
}
.sg-Accordion .sg-Accordion-label {
  position: relative;
  display: block;
  padding: 0 0 0 34px;
  width: 100%;
  text-align: left;
  border-width: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  color: #478081;
  background-color: transparent;
}
.sg-Accordion {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.sg-Progress-step:first-child .sg-Progress-text,
.sg-Progress-step:first-child .sg-Progress-link {
  padding-left: 14px;
}
.sg-Progress-text,
.sg-Progress-link {
  position: relative;
  display: block;
  padding: 15px 7px;
  line-height: 1em;
  vertical-align: middle;
  padding-left: 31px;
}
.sg-Progress {
  position: relative;
  display: table;
  width: 100%;
  height: 3em;
  padding: 0;
  margin: 0 0 20px 0;
  overflow: hidden;
}
.sg-Progress-step.sg-Progress-step--current {
  color: #ffffff;
  background: #004346;
}
.sg-Progress-step--current {
  font-weight: bold;
}
.sg-Progress-step {
  position: relative;
  display: table-cell;
  width: 1%;
  padding: 0;
  font-size: 18px;
  font-size: 1.134rem;
  color: #004346;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #dedcd5;
  border-left: solid 3px #ffffff;
}
.sg-Progress-step:not(:last-child):after {
  display: inline-block;
  width: 26px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -24px;
  z-index: 1;
  background-position: center right;
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  content: "";
}

.sg-Progress-step--current:after {
  background-image: url(sandbox/src/images/Capture.PNG);
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.sg-Page .sg-Main .sg-Main-content {
  position: relative;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  padding: 20px;
}
.sg-Main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
}
.sg-Main-content {
  padding: 20px 20px 10px 20px;
}
.sg-Type--heading5,
h5 {
  font-size: 1.26rem;
}

.sg-Type--heading5,
.sg-Type--heading6,
h5,
h6 {
  font-weight: bold;
}
.sg-Type--heading,
.sg-Type--headingTitle,
.sg-Type--heading1,
.sg-Type--heading2,
.sg-Type--heading3,
.sg-Type--heading4,
.sg-Type--heading5,
.sg-Type--heading6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AtlasGrotesk, Arial, sans-serif;
  font-style: normal;
  /* font-weight: bold; */
  line-height: 1.2em;
  color: rgb(0, 67, 70);
  /* margin: 20px 0px 0px; */
}
::selection {
  background: rgb(240, 226, 103);
}

.sg-Input.is-invalid {
  border-color: #bd1903;
}
.sg-Input.is-invalid {
  border-color: #bd1903;
  background-color: #fcf4f2;
}
.sg-Input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sg-Input {
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  -moz-transition: -moz-box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.sg-Input {
  display: block;
  width: 100%;
  min-width: 4em;
  padding: 10px;
  margin: 0 0 5px 0;
  color: #000000;
  vertical-align: middle;
  font-size: 1.12em;
  font-size: 1.008rem;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cdcbc3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.sg-Validation--questionInvalid {
  border-color: #bd1903;
  color: #bd1903;
}
.sg-Validation-errorWrapper p {
  font-size: 0.8rem;
}
.sg-Validation-errorMessage,
.validation-errorMessage {
  color: #bd1903;
  font-size: 0.84em;
  font-size: 0.756rem;
}

.sg-Type--paragraph,
p {
  margin: 0 0 10px 0;
}
